* {
    box-sizing: border-box;
}

body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    background-color: rgb(219, 225, 228);
    max-width: 1024px;
    margin: 0 auto; 
    letter-spacing: 1px;
}

ul {
    list-style: none;
    padding-left: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: firebrick;
}

h1:hover {
    color: burlywood;
}

/*NAVIGATION SECTION*/
nav{
    font-weight: 400;
    padding: 30px;   
}

h1, .main-nav {
    text-align: center;
}
.main-nav,
.main-nav li {
    width: 100%;
}

.main-nav {
    margin-top: 25px;
}

.main-nav li {
    padding: 18px 0;
    margin: 5px auto;
    background-color: white;
}

.main-nav a {
    text-transform: uppercase;
}

/*END OF NAVIGATION SECTION*/

/*MAIN - PROFILE SECTION*/
.picture {
    padding-top: 18px;
}

.picture-1 {
    width: 70%;
    margin: 0 auto;
}

.picture p {
    padding: 30px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.picture {
    background-color:  rgb(219, 225, 228);
    padding-bottom: 40px;
}

img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.picture h2 {
    margin-top: 0;
}


.portfolio, .port, .projects {
    background-color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    padding: 40px 10px 40px;

}

.projects h3 {
    text-align: center;
    padding-top: 25px;
    font-size: 1rem;
}

.projects p {
    text-align: center;
    padding: 5px 30px 20px;
    font-size: 1rem;   
    line-height: 1.6rem;
}


/*END OF MAIN - PROFILE SECTION*/

/*MAIN - EDUCATION & SKILLS SECTION FOR EXTRA CREDIT*/
.education-1, .skills-1, .items, .items-1 {
    font-family: 'Chewy', cursive;
}

.side {
    color: firebrick;
}

.color {
    border:10px solid firebrick;
    width: 100%;
    margin: 50px auto;
}

.education-1 {
    margin-top: 10px;
}

.education-1, .skills-1 {
    text-align: center;
    color: firebrick;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skills-1 {
    margin-top: 50px;
}

.items-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hero {
    columns: 150px;
    padding-left: 5px;
    padding-right: 100px;
    list-style: decimal;
    color: firebrick;
    border: 2px solid firebrick
}

.hero:hover {
    filter: grayscale(1);
    transform: scale(1.03);
    animation: shake 0.7s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/*END OF MAIN - EDUCATION & SKILLS SECTION FOR EXTRA CREDIT*/

/*CONTACT SECTION*/
.contact {
    text-align: center;
}
h3 {
    text-transform: uppercase;
}

h3, .contact {
    font-size: 1.3rem;
}

.contact p {
    padding: 25px 25px 0;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

/*END OF CONTACT SECTION*/

/*FOOTER SECTION*/
footer, .footer-nav {
    display: flex;
}

footer {
    justify-content: space-between;
    padding-bottom: 30px;
    border-top: 1.5px solid grey;
}

.display {
    display: none;
}

.top {
    padding-right: 15px;
}
footer h2 {
    padding-left: 15px;
}

footer h2, footer ul {
    margin-top: 40px;
}

footer li {
    text-transform: uppercase;
}

footer h2, footer li {
    font-size: 1rem;
}

/*END OF FOOTER SECTION*/

/*MEDIA QUERIES*/
@media (min-width:768px) {
    nav, .main-nav {
        display: flex;
    }  

    nav {
        flex-direction: column;
        align-items: center;
    }

    .main-nav li {
        background-color: transparent;
        margin: 0 10px;
    }

    .main-nav {
        margin: 0 0 16px;
    }

    .main-nav, .main-nav li {
        width: auto;
    }

    .picture {
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;
    }

    .picture p {
        order: -1;
        padding: 0 30px 0 30px;
        margin-top: 5%;
        font-size: 20px;
    }

    .picture-1 {
        padding-right: 30px;
        width: 330px;
    }

    .port {
        padding-bottom: 40px;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
    }

    .section {
        flex: 1 50%;
    }

    .top {
        display: none;
    }

    .display {
        display: inline-block;
        margin-left: 20px;
        padding-right: 20px;   
    }

    footer h2 {
        padding-left: 20px;
    }

}

@media (min-width:1024px) {
    nav {
        flex-direction: row;
    }

    nav .name {
        margin: 0 auto 20px 0;
    }

    .picture {
        padding: 20px 40px 50px;
    }

    .port {
        width: 95%;
        margin: 0 auto;
        padding-bottom: 60px;
    }

    .section {
        flex-basis: 33.33%;   
    }

}



